html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}

/* Global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}


/* Header */
.header {
  padding-bottom: 70px;
}
.header-logo {
  align-items: center;
  padding: 30px 0;
}

.logo {
  padding-right: 40px;
}

.phone {
  font-weight: 500;
  font-size: 20px;
  color: #666;
}

.header-logo-link {
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  margin-left: auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  padding-left: 26px;
}

.header-logo-tab {
  background-image: url(../img/keyboard_tab.svg);
}

.header-nav {
  height: 70px;
  background: #fff;
  border-radius: 15px;
  align-items: center;
}

.header-list {
  margin-right: auto;
  padding-left: 45px;
}

.header-list-item:not(:last-child) {
  padding-right: 45px;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  border: 1px solid #c93;
  border-radius: 10px;
  padding: 13px 20px;
  max-width: 100%;
  max-height: 42px;
  background: #fff;
}

.header-btn {
  margin-right: 45px;
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

/* Special */
.special {
  margin-bottom: 70px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  color: #333;
  padding-left: 40px;
}

.special-list {
  flex-wrap: wrap;
  gap: 24px;
}

.special-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.special-item-link {
  font-weight: 400;
  font-size: 16px;
  color: #f0bf5f;
}

.card-maldives {
  background-image: url(../img/special_1.jpg);
}

.card-crete {
  background-image: url(../img/special_2.jpg);
}

.card-luxury {
  background-image: url(../img/special_3.jpg);
}

.flex-container {
  min-height: 540px;
  display: flex;
  gap: 24px;
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  position: relative;
  border-radius: 15px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.special-item-text {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 47px;
}

.card-small {
  flex: 1;
}

.card-big {
  height: 100%;
  justify-content: flex-end;
}

.card-big h3 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}

.card-big p {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

/* About */
.about {
  margin-bottom: 70px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  max-width: 888px;
}

/* Services */
.services {
  margin-bottom: 70px;
}

.services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.services-item {
  width: 570px;
  background: #fff;
  border-radius: 15px;
}

.blog-services-text {
  width: 402px;
  height: 104px;
  margin: 26px 126px 35px 45px;
}

.blog-services-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #c93;
  margin: 0;
}

.blog-services-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  margin: 0;
}

/* Advantage */
.advantage {
  margin-bottom: 70px;
}

.advantage-list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantage-item {
  border-radius: 15px;
  width: 276px;
  height: 276px;
  background: #fff;
  padding: 40px 42px 32px 45px;
}

.advantage-item:not(:nth-child(4n)) {
  padding-right: 25px;
}

.advantage-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  margin: 0;
  width: 189px;
  height: 128px;
}

/* Hotels */
.hotels {
  margin-bottom: 70px;
}

.hotels-list {
  flex-wrap: wrap;
  gap: 24px;
}

.hotels-item {
  width: 374px;
  height: 440px;
  background: #fff;
  border-radius: 15px;
}

.blog-hotels-descr {
  padding: 30px 45px;
}

.blog-descr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-hotels-prace {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.blog-hotels-text-light {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.blog-hotels-text-bold {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.blog-hotels-hotel {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.blog-hotels-city {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.blog-all {
  position: relative;
}

.blog-all-text {
  position: absolute;
  left: 50px;
  bottom: 31px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  margin: 0;
}

/* Want tour */
.want-tour {
  margin-bottom: 70px;
}

.bcc-color {
  background: #e9e9e9;
  border-radius: 15px;
  padding: 45px;
}
.bcc-color .title {
  padding: 0;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 32px 28px;
  background: #fff;
  border-radius: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.input-group label {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.input-group input,
.input-group select {
  font-weight: 400;
  border: none;
  font-size: 16px;
  outline: none;
}

.input-group input {
  border-bottom: 1px solid #e9e9e9;
}

.submit-btn {
  background: transparent;
  padding: 13px 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* Contacts */
.blog-contacts {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
}

.contacts-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.blog-contacts {
    display: flex;
    gap: 50px;
}

.contacts-info {
    flex: 1;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.info-item:last-of-type {
    border-bottom: none;
    margin-bottom: 30px;
}

.info-label {
    font-weight: bold;
    font-size: 18px;
    width: 100px;
}

.info-content {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.phone-link, .email-link {
    display: block;
    color: #cc9933; /* Золотистый цвет с макета */
    text-decoration: none;
}

.email-desc {
    color: #999;
    font-size: 14px;
}

.email-group {
    margin-bottom: 10px;
}

.btn-route {
    padding: 15px 30px;
    border: 1px solid #cc9933;
    background: transparent;
    color: #cc9933;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-route:hover {
    background-color: #cc9933;
    color: #fff;
}

.contacts-image {
    flex: 1.2;
}

.contacts-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
