html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src:
    local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src:
    local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src:
    local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src:
    local("Muller-Regular"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}

/* Global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

/* Header */
.header {
  padding-bottom: 70px;
}
.header-logo {
  align-items: center;
  padding: 30px 0;
}

.logo {
  padding-right: 40px;
}

.phone {
  font-weight: 500;
  font-size: 20px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.phone:focus {
  color: #c93;
  outline: 1px solid #c93;
}
.phone:hover {
  color: #f0bf5f;
}
.phone:active {
  color: #a47312;
  outline: none;
}

.header-logo-link svg {
  fill: #c93;
  transition:
    fill 0.3s ease-in-out,
    stroke 0.3s ease-in-out;
}

.header-logo-link:hover svg {
  fill: #f0bf5f;
}
.header-logo-link:active svg {
  fill: #a47312;
}

.header-logo-link {
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  margin-left: auto;
  transition: color 0.3s ease-in-out;
}

.header-logo-link:focus {
  outline: 1px solid #c93;
}
.header-logo-link:hover {
  color: #f0bf5f;
}
.header-logo-link:active {
  color: #a47312;
  outline: none;
}

.header-nav {
  height: 70px;
  background: #fff;
  border-radius: 15px;
  align-items: center;
}

.header-list {
  margin-right: auto;
  padding-left: 45px;
}

.header-list-item:not(:last-child) {
  padding-right: 45px;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  border: 1px solid #c93;
  border-radius: 10px;
  padding: 13px 20px;
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  cursor: pointer;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.btn:focus {
  outline: 1px solid #c93;
  color: #fff;
  background: #c93;
}
.btn:hover {
  color: #fff;
  background: #c93;
}
.btn:active {
  color: #fff;
  background: #a47312;
  outline: none;
}

.header-btn {
  margin-right: 45px;
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-link:focus {
  color: #c93;
  outline: 1px solid #c93;
}
.header-link:hover {
  color: #f0bf5f;
}
.header-link:active {
  color: #a47312;
  outline: none;
}

/* Special */
.special {
  margin-bottom: 70px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  color: #333;
  padding-left: 40px;
}

.special-list {
  flex-wrap: wrap;
  gap: 24px;
}

.special-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.special-item-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #f0bf5f;
}

.card-maldives {
  background-image: url(../img/special_1.jpg);
}

.card-crete {
  background-image: url(../img/special_2.jpg);
}

.card-luxury {
  background-image: url(../img/special_3.jpg);
}

.flex-container {
  min-height: 540px;
  display: flex;
  gap: 24px;
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  position: relative;
  border-radius: 15px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.special-item-text {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 47px;
}

.card-small {
  flex: 1;
}

.card-big {
  height: 100%;
  justify-content: flex-end;
}

.card-big h3 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}

.card-big p {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

/* About */
.about {
  margin-bottom: 70px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  max-width: 888px;
}

/* Services */
.services {
  margin-bottom: 70px;
}

.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 588px;
  background: #fff;
  border-radius: 15px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.blog-services-image {
  width: 100%;
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.blog-services-text {
  width: 402px;
  height: 104px;
  margin: 26px 126px 35px 45px;
}

.blog-services-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #c93;
  margin: 0;
}

.blog-services-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  margin: 0;
}

/* Advantage */
.advantage {
  margin-bottom: 70px;
}

.advantage-list {
  flex-wrap: wrap;
}

.advantage-item {
  border-radius: 15px;
  width: 283px;
  height: 276px;
  background: #fff;
  padding: 40px 42px 32px 45px;
  margin-right: 22px;
  margin-bottom: 22px;
}

.advantage-item:nth-child(4n) {
  margin-right: 0;
}

.advantage-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  margin: 0;
  width: 189px;
  height: 128px;
}

/* Hotels */
.hotels {
  margin-bottom: 70px;
}

.hotels-list {
  flex-wrap: wrap;
}

.hotels-item {
  width: 374px;
  height: 440px;
  background: #fff;
  border-radius: 15px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.hotels-item:nth-child(3n) {
  margin-right: 0;
}

.blog-hotel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-hotels-descr {
  width: 100%;
  padding: 32px 45px;
}

.blog-descr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-hotels-prace {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.blog-hotels-text-light {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.blog-hotels-text-bold {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.blog-hotels-hotel {
  margin: 0;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.blog-hotels-city {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.blog-all {
  position: relative;
}

.blog-all-text {
  position: absolute;
  left: 50px;
  bottom: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  text-decoration: none;
}

.blog-all-text::after {
  content: "";
  position: absolute;
  top: calc(-440px + 50px + 40px);
}

/* Want tour */
.want-tour {
  margin-bottom: 70px;
}

.bcc-color {
  background: #e9e9e9;
  border-radius: 15px;
  padding: 45px;
}
.bcc-color .title {
  padding: 0;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 32px 28px;
  background: #fff;
  border-radius: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.input-group label {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.input-group input,
.input-group select {
  font-weight: 400;
  border: none;
  font-size: 16px;
  outline: none;
}

.input-group input {
  border-bottom: 1px solid #e9e9e9;
}

.submit-btn {
  background: transparent;
  padding: 13px 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* Contacts */
.blog-contacts {
  background-color: #fff;
  padding: 45px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.blog-contacts {
  display: flex;
  justify-content: space-between;
}

.contacts-info {
  width: 375px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e9e9e9;
}

.info-label {
  font-weight: 700;
  font-size: 20px;
  width: 100px;
}

.info-content {
  flex: 0.9;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
}

.email-desc {
  color: #999;
  font-size: 16px;
}

.email-group:first-of-type {
  margin-bottom: 10px;
}

.btn-route {
  padding: 27px 30px;
  margin-top: 20px;
}

.contacts-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Footer */
.footer {
  margin-bottom: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #333;
  color: #fff;
  padding: 45px;
  border-radius: 15px;
  overflow: hidden;
}

.footer-col {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
}

.footer-col p {
  margin: 0;
}

.disclaimer {
  padding: 40px 0;
  max-width: 300px;
}

.contacts,
.emails {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.gold-link {
  display: block;
  color: #cc9933;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.gold-link:focus {
  outline: 1px solid #c93;
}
.gold-link:hover {
  color: #f0bf5f;
}
.gold-link:active {
  outline: none;
  color: #a47312;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.social-icon {
  outline: none;
}

.social-icon svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.social-icon:focus svg {
  fill: #c93;
}
.social-icon:hover svg {
  fill: #c93;
}
.social-icon:active svg {
  fill: #a47312;
}

.sun-img {
  width: 250px;
  position: absolute;
  bottom: -20px;
  right: 250px;
}
