html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "font", sans-serif;
}

/* Global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Header */
.header-logo {
  align-items: center;
  padding: 30px 0;
}

.logo {
  padding-right: 40px;
}

.header-right-link {
  margin-left: auto;
}

.header-nav {
  padding-bottom: 70px;
}

.header-list {
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  padding-right: 45px;
}

/* Special */
.title {
  margin: 0;
  margin-bottom: 20px;
}

.special-list {
  flex-wrap: wrap;
}

.special-item {
  width: 570px;
  margin-bottom: 30px;
}

.special-item-title {
  margin: 0;
}

/* Services */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 570px;
  margin-bottom: 30px;
}

/* Advantage */
.advantage-list {
  flex-wrap: wrap;
}

.advantage-item {
  width: 276px;
  margin-bottom: 30px;
}

.advantage-item:not(:nth-child(4n)) {
  padding-right: 25px;
}

/* Hotels */
.hotels-list {
  flex-wrap: wrap;
}

.hotels-item {
  width: 374px;
}

.blog-hotels-prace {
  margin: 0;
}

