html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
}

/* Global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Header */
.header-logo {
  align-items: center;
  padding: 30px 0;
}

.logo {
  padding-right: 40px;
}

.phone {
  font-weight: 500;
  font-size: 20px;
  color: #666;
}

.header-logo-link {
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  margin-left: auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  padding-left: 26px;
}

.header-logo-tab {
  background-image: url(../img/keyboard_tab.svg);
}

.header-nav {
  padding-bottom: 70px;
}

.header-list {
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  padding-right: 45px;
}

/* Special */
.title {
  margin: 0;
  margin-bottom: 20px;
}

.special-list {
  flex-wrap: wrap;
}

.special-item {
  width: 570px;
  margin-bottom: 30px;
}

.special-item-title {
  margin: 0;
}

/* Services */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 570px;
  margin-bottom: 30px;
}

/* Advantage */
.advantage-list {
  flex-wrap: wrap;
}

.advantage-item {
  width: 276px;
  margin-bottom: 30px;
}

.advantage-item:not(:nth-child(4n)) {
  padding-right: 25px;
}

/* Hotels */
.hotels-list {
  flex-wrap: wrap;
}

.hotels-item {
  width: 374px;
}

.blog-hotels-prace {
  margin: 0;
}

